<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Admin</title>
      <link rel="stylesheet" href="/styles/admin-home.css" />
   </head>
   <body>
      <header>
         <h3>Name:<%=adminData.name%></h3>
         <h3>Total bank deposits:<%=adminData.total_bank_deposits%> AED</h3>
         <h3>Total money lent:<%=adminData.total_lent_amount%> AED</h3>
         <h3>
            <form action="/"><button>Log out</button></form>
         </h3>
      </header>
      <main>
         <h1><a href="/admin/<%=adminData.id%>/transfer">Transfer requests</a></h1>
         <h1><a href="/admin/<%=adminData.id%>/deposit">Deposit requests</a></h1>
         <h1><a href="/admin/<%=adminData.id%>/withdraw">Withdraw requests</a></h1>
         <h1><a href="/admin/<%=adminData.id%>/loan">Loan requests</a></h1>
      </main>
   </body>
</html>
