<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Bank</title>
      <!-- <link rel="stylesheet" href="/styles/styles.css" /> -->
      <link rel="stylesheet" href="/styles/client.css" />
   </head>
   <body>
      <header>
         <nav>
            <p>Name: <%=customerData.name%></p>
            <p>Account number:<%=customerData.account_no%></p>
            <p>Balance:<%=customerData.balance%> AED</p>
            <p>Credit due:<%=customerData.loan%> AED</p>
            <form action="/client/message/<%=customerData.account_no%>" method="GET">
               <button>Check messages</button>
            </form>
            <form action="/" method="GET"><button>Log out</button></form>
         </nav>
      </header>
      <main>
         <section id="client-transfer">
            <h3>Transfer money:</h3>
            <form action="/client/<%=customerData.account_no%>/transfer" method="POST">
               <div>
                  <label for="receivingaccount">Receiving Account:</label>
                  <input type="number" name="receiver" />
               </div>
               <div>
                  <label for="transfer">Amount:</label>
                  <input type="number" name="transferamount" id="" />
               </div>
               <p id="client-message-transfer"><%=m1%></p>
               <button>Transfer</button>
            </form>
         </section>
         <section id="client-deposit">
            <h3>Deposit money:</h3>
            <form action="/client/<%=customerData.account_no%>/deposit" method="POST">
               <div>
                  <label for="">Amount:</label>
                  <input type="number" name="depositamount" />
                  <input
                     readonly
                     type="hidden"
                     name="currentbalance"
                     value="<%=customerData.balance%>"
                  />
               </div>
               <p id="client-message-deposit"><%=m2%></p>
               <button>Deposit</button>
            </form>
         </section>
         <section id="client-withdraw">
            <h3>Withdraw money:</h3>
            <form action="/client/<%=customerData.account_no%>/withdraw" method="POST">
               <div>
                  <label for="">Amount:</label>
                  <input type="number" name="withdrawamount" />
                  <input
                     readonly
                     type="hidden"
                     name="currentbalance"
                     value="<%=customerData.balance%>"
                  />
               </div>
               <p id="client-message-deposit"><%=m3%></p>
               <button>Withdraw</button>
            </form>
         </section>
         <section id="client-loan">
            <h3>Take loan:</h3>
            <form action="/client/<%=customerData.account_no%>/loan" method="POST">
               <div>
                  <label for="">Amount:</label>
                  <input type="number" name="loanamount" />
                  <input
                     readonly
                     type="hidden"
                     name="currentbalance"
                     value="<%=customerData.balance%>"
                  />
               </div>
               <div>
                  <label for="">Collateral:</label>
                  <input type="text" />
               </div>
               <div>
                  <label for="">Estimated date of repayment:</label>
                  <input type="date" />
               </div>
               <p id="client-message-loan"><%=m4%></p>
               <button>Request loan</button>
            </form>
         </section>
      </main>
   </body>
</html>
