<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>notifcation</title>
      <link rel="stylesheet" href="/styles/styles.css" />
      <link rel="stylesheet" href="/styles/transfer.css" />
   </head>
   <body>
      <header>
         <h3><a href="/client-page/<%=account_no%>">Back</a></h3>
      </header>
      <main>
         <ul>
            <% if(messageData.length == 0) {%>
            <h2>No messages.</h2>
            <%} else {%> <%for(let item of messageData) {%>
            <li>
               <h3>Date:<%=item.date%></h3>
               <h3>Message:<%=item.message%></h3>
               <form action="/client/message/<%=item.serial%>/delete" method="POST">
                  <input type="hidden" name="account_no" value="<%=item.id%>" />
                  <button>Delete</button>
               </form>
            </li>
            <%}%> <%}%>
         </ul>
      </main>
   </body>
</html>
