<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Transfer requests</title>
      <link rel="stylesheet" href="/styles/transfer.css" />
   </head>
   <body>
      <header>
         <h2>Transfer request</h2>
         <h2><a href="/admin-home/<%=admin%>">Back</a></h2>
      </header>
      <main>
         <ul>
            <% if(data.length == 0) {%>
            <h2>No requests.</h2>
            <%} else {%> <%for(let item of data) {%>
            <li>
               <h3>Sender account:<%=item.sender%></h3>
               <h3>Receiver account:<%=item.receiver%></h3>
               <h3>Transfer amount:<%=item.amount%> AED</h3>
               <form action="/transfer/<%=item.id%>/accept" method="POST">
                  <button>Proceed transfer</button>
                  <input type="hidden" name="admin" value="<%=admin%>" />
               </form>
               <form action="/transfer/<%=item.id%>/reject" method="POST">
                  <button>Decline transfer</button>
                  <input type="hidden" name="admin" value="<%=admin%>" />
               </form>
            </li>
            <%}%> <%}%>
         </ul>
      </main>
   </body>
</html>
